body {
    background-color: #eafbff;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    padding-top: 30px;
    font-size: 44px;
    color: #FFF;
}

.title {
    color: #2c2c2c;
}

.add {
    margin: 20px 0;
}

.edit {
    width: 180px;
    font-size: 16px;
    margin-right: 10px;
}

.todoTb th {
    border-bottom: 1px solid #333;
}

.task {
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.task-completed {
    color: #888;
    text-decoration: line-through;
}

.filter {
    margin-bottom: 30px;
}
